body {
    font-family: "Prompt", sans-serif;
    background-color: #e6e34852;
    color: #262626;
    filter: hue-rotate(-5deg);
    margin: 0;
    padding: 0;
}
html {
    padding: 0;
    margin: 0;
}

div.imageboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.send-choose{
    display:flex;
    flex-direction:column;
}

div.images {
    width: 30%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    padding: 5px;
    opacity: 0.95;
}
div.actual {
    position: relative;
    display: grid;
    grid-template-rows: 16rem 6rem;
    justify-content: center;
}
p.title {
    justify-content: center;
    color: white;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 0.3rem;
    letter-spacing: 0.2;
    opacity: 0;
    width: 20rem;
    z-index: 5;
    margin: 0;
    transition: opacity 0.5s linear;
    text-align: center;
}
div.actual:hover .title {
    opacity: 1;
    transition: opacity 0.5s linear;
}
input {
    font-family: "Prompt", sans-serif;
    border-radius: 5px;
    border: none;
}
input[type="file"] {
    font-family: "Prompt", sans-serif;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

::-webkit-file-upload-button {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    color: white;
    padding: 3px 7px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px transparent;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.15s ease;
    font-family: "Prompt", sans-serif;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
button {
    font-family: "Prompt", sans-serif;
    background: radial-gradient(
        circle at 30% 107%,
        #4d318d 0%,
        #3ec1c5 5%,
        #c449fd 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    border-radius: 10px;
    color: #fff;
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: 1px transparent;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

button [type="submit"] {
    visibility: hidden;
}
img.submit1 {
    height: 50px;
    width: 50px;
    border: 1px transparent;
    cursor: pointer;
}

img.send{
    width:75px;
    height:85px;
    margin-left:5px;
}
img.notify,
img.error-icon,
img.close {
    height: 50px;
    width: 50px;
}
img.submit1 {
    height: 50px;
    width: 50px;
}
button.more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    border-radius: 5px;
}
img#camera {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
img.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
h2 {
    margin-top: 0;
    font-size: 45px;
    font-weight: bold;
}
h3 {
    margin-left: 30px;
    font-size: 30px;
    font-weight: lighter;
}
div.part {
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 #4d318d, 0 17px 50px 0 #d6249f;
}

/*span.imagegram {
    margin-right: 10px;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}*/

img#camera:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.7) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
header {
    display: flex;
    justify-content: center;
    grid-row: 1 / 2;
}
div.camera-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media (max-width: 768px) {
    div.images {
        width: 90%;
    }
    img {
        height: 50vh;
    }
}

div.images:hover {
    box-shadow: 0 12px 16px 0 #4d318d, 0 17px 50px 0 #d6249f;
    opacity: 1;
}

p.comment {
    margin-top: 20px;
}

div.user {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
}

div.modalpage {
    position: fixed;
    top: 50px;
    background-color: #e5de8f;
    filter: hue-rotate(-5deg);
    left: 50%;
    width: 80vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-radius: 10px;
}
h2.main {
    left: 50%;
    text-align: center;
}
form.form1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h2.close {
    cursor: pointer;
    text-align: right;
    font-size: 25px;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.imagepart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

div.comment-div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.85);
    margin-top: 15px;
}
div.commentline {
    text-align: left;
    margin-left: 20px;
}
p.comment {
    font-weight: bold;
}
p.commentinfo {
    font-style: italic;
}

p.notification {
    color: #4d318d;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
label {
    font-weight: bold;
}
div.imagepart p {
    margin-top: 0;
}

img.big {
    object-fit: cover;
    height: 80vh;
    width: 70vw;
    border-radius: 10px;
    border: 1px solid transparent;
}
img.bin {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

div.background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

p.user {
    font-style: italic;
}

p.description {
    font-size: 18px;
    font-weight: bold;
}

p.error {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #4d318d;
}

.comment-bin {
    width: 35px;
    height: 35px;
    position: relative;
    float: right;
    margin-right: 10px;
}
